best-practices/dev-workflow/skills/ideal-dify-generator/assets/simple_llm_workflow.yml
# 模板：简单 LLM 对话
# 适用场景：基础问答、文本生成、翻译、摘要
# 模式：advanced-chat

app:
  name: '简单对话助手'
  description: '基于 LLM 的简单问答助手，处理用户输入并生成回复'
  icon: '🤖'
  icon_background: '#FFEAD5'
  mode: advanced-chat
  use_icon_as_answer_icon: false

dependencies: []

kind: app
version: 0.3.0

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    speech_to_text:
      enabled: false
    text_to_speech:
      enabled: false
    opening_statement: '您好！我是智能助手，有什么可以帮您？'
    retriever_resource:
      enabled: false
  graph:
    viewport:
      x: 0
      y: 0
      zoom: 1.0
    nodes:
      - data:
          desc: ''
          title: 开始
          type: start
          variables:
            - label: 用户输入
              max_length: 2000
              options: []
              required: true
              type: paragraph
              variable: query
        id: 'start'
        position:
          x: 80
          y: 282
        type: custom
      - data:
          context:
            enabled: false
            variable_selector: []
          model:
            completion_params:
              temperature: 0.7
              max_tokens: 2000
              top_p: 0.9
              frequency_penalty: 0
              presence_penalty: 0
            mode: chat
            name: gpt-4o-mini
            provider: openai
          prompt_template:
            - id: '1740000000001'
              role: system
              text: '你是一个有帮助的AI助手。请根据用户的提问，给出准确、简洁的回答。'
            - id: '1740000000002'
              role: user
              text: '{{#sys.query#}}'
          title: LLM对话
          type: llm
          vision:
            enabled: false
        id: '1740000000003'
        position:
          x: 380
          y: 282
        type: custom
      - data:
          answer: "{{#1740000000003.text#}}"
          title: 回复
          type: answer
          variables: []
        id: 'answer'
        position:
          x: 680
          y: 282
        type: custom
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: llm
        id: 'start-source-1740000000003-target'
        source: 'start'
        sourceHandle: source
        target: '1740000000003'
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: answer
        id: '1740000000003-source-answer-target'
        source: '1740000000003'
        sourceHandle: source
        target: 'answer'
        targetHandle: target
        type: custom
        zIndex: 0
